@import './base.scss';

html, body, #app {
  overflow: hidden;
  height: 100%;
}

#app {
  max-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

body {
  color-scheme: dark;
  background-color: #1f1f1f;
  color: #f7f7f7;
}