.container {
    outline: 1px solid red;
    background-color: #111111;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    position: relative;
    --row-height: 16px;
    font-family: monospace;
    max-height: 100%;
    height: 100%;
    font-size: 14px;

    &[data-scroll-type="virtual"]{
        overflow: hidden;

        .scroll-view {
            display: none;
        }
        .scroll-bar {
            display: grid;
        }
    }
}
.data-view {
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    --delta: 0;
    --top: 0;
    transform: translateY(calc(-1 * var(--top) * var(--row-height)));
}
.scroll-view {
    height: calc(var(--row-count) * var(--row-height));
    width: 100%;
    content: '';
    position: absolute;
    pointer-events: none;
}
.scroll-bar {
    display: none;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 16px;
    background-color: #242424;
    grid-template-rows: auto 1fr auto;
    flex-direction: column;
    --scroll-percent: 0;

    button {
        border: none;
        outline: none;
    }
}
.up-arrow, .down-arrow {
    width: 16px;
    height: 16px;
}
.scroll-bar-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(calc(100% * var(--scroll-percent)));
}
.scroll-bar-handle {
    background-color: #484848;
    width: 12px;
    height: 5vh;
}
.row {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: var(--row-height);
    top: 0;
    transform: translateY(calc(var(--row-height) * var(--index)));
    left: 0;
    overflow: hidden;

    button {
        outline: none;
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
    }

    .count {
        background-color: #1a1a1a;
        width: 80px;
        text-align: center;
        color: #c8c8c8;
    }
    .list {
        --item-size: 24px;
        display: flex;
        box-sizing: content-box;
        padding: 0 5px;
        width: calc(var(--item-size) * 16);
        
        & > * {
            height: 100%;
            width: var(--item-size);

            color: #a3a3a3;
        }
        & > *:nth-child(2n) {
            color: #c8c8c8;
        }
    }
    .text {
        --item-size: 11px;
        display: flex;
        flex-direction: row;
        width: calc(var(--item-size) * 16);
        overflow: hidden;

        & > * {
            width: var(--item-size);
            overflow: hidden;
            height: 100%;

            color: #565656;

            &[data-type="ascii"] {
                color: #0074D9
            }
            &[data-type="control"] {
                color: #3D9970;
                font-size: 17px;
            }
        }
    }
}