$column-count: 16;
$row-height: 16px;
$byte-width: 24px;
$bytes-width: $byte-width * $column-count;
$char-width: 11px;
$chars-width: $char-width * $column-count;
$count-width: 80px;

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 1px solid red;
    background-color: #111111;
    overflow: hidden;
    contain: strict;
    display: grid;
    --row-height: 16px;
    font-family: monospace;
    font-size: 14px;

    &[data-scroll-type="virtual"]{
        overflow: hidden;

        .scroll-view {
            display: none;
        }
        .scroll-bar {
            display: grid;
        }
    }
}
.scroll-container {
    contain: strict;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    contain: strict;
    z-index: 105;
}
.data-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    contain: strict;
    z-index: 106;
    pointer-events: none;
}
.data-view {
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0);
    will-change: transform;
}
.scroll-view {
    height: calc(var(--row-count) * var(--row-height));
    width: 100%;
    content: '';
    position: absolute;
}
.scroll-bar {
    --scroll-bar-width: 16px;
    --scroll-handle-size: 5vh;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    background-color: #242424;
    grid-template-rows: var(--scroll-bar-width) 1fr var(--scroll-handle-size) var(--scroll-bar-width);
    flex-direction: column;
    contain: strict;
    --scroll-percent: 0;

    z-index: 107;

    button {
        border: none;
        outline: none;
    }
}
.up-arrow, .down-arrow {
    width: 100%;
    display: grid;
    place-content: center;
    color: #959595;

    svg {
        width: 100%;
    }
}
.scroll-bar-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(calc(100% * var(--scroll-percent)));
}
.scroll-bar-track-padding {}
.scroll-bar-handle {
    background-color: #484848;
    width: 12px;
    height: 5vh;
}
.row {
    contain: strict;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0px);
    width: 800px;
    height: $row-height;
    will-change: transform;
    overflow: hidden;
    white-space: nowrap;

    * {
        white-space: pre;
        overflow: hidden;
        -webkit-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
    }

    button {
        outline: none;
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
    }

    .count {
        white-space: nowrap;
        background-color: #1a1a1a;
        width: $count-width;
        height: $row-height;
        text-align: right;
        color: #c8c8c8;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        contain: strict;
        contain-intrinsic-width: $count-width;
        contain-intrinsic-height: $row-height;
    }
    .list {
        position: absolute;
        top: 0;
        contain: strict;
        left: $count-width;
        width: $bytes-width;
        height: $row-height;
        
        & > * {
            white-space: nowrap;
            position: absolute;
            contain: strict;
            overflow: hidden;
            height: $row-height;
            width: $byte-width;
            contain-intrinsic-width: $byte-width;
            contain-intrinsic-height: $row-height;

            color: #a3a3a3;

            @for $i from 1 through $column-count {
                &:nth-child(#{$i}) {
                    left: ($i - 1) * $byte-width;
                }
            }
        }
        
        & > *:nth-child(2n) {
            color: #c8c8c8;
        }
    }
    .text {
        position: absolute;
        top: 0;
        left: $count-width + $bytes-width;
        contain: strict;
        width: $chars-width;
        height: $row-height;
        overflow: hidden;

        & > * {
            white-space: nowrap;
            position: absolute;
            contain: strict;
            overflow: hidden;
            width: $char-width;
            
            height: $row-height;
            contain-intrinsic-width: $char-width;
            contain-intrinsic-height: $row-height;

            color: #565656;

            &[data-type="ascii"] {
                color: #0074D9
            }
            &[data-type="control"] {
                color: #3D9970;
                font-size: 17px;
            }

            @for $i from 1 through $column-count {
                &:nth-child(#{$i}) {
                    left: ($i - 1) * $char-width;
                }
            }
        }
    }
}